.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.container img {
  width: 100%;
  border-radius: 1rem;
}

.title {
  margin-bottom: 0;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: black;
  font-weight: 700;
}

.description {
  padding: 0.5rem;
  color: hsl(220, 15%, 55%);
  line-height: 1.3;
}
